@import url(__field/request__field.css);
@import url(__button/request__button.css);

.request {
  width: 35%;
}

.request .request__warning {
  width: 80%;
  font-family: 'Rubik';
  font-size: 14px;
  margin-top: 40px;
  line-height: 22px;
}

.request .request__link {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed black;
}

@media screen and (max-width: 1023px) {
  .request {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .request {
    width: 100%;
  }

  .request .request__warning {
    width: 100%;
  }
}