
.request__field {
  display: flex;
  flex-direction: column;
}

.request__field .request__label {
  font-family: 'Rubik';
  font-size: 16px;
}

.request__field .request__input {
  width: 100%;
  padding: 12px 0px;
  margin-bottom: 35px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;

  font-family: 'Rubik';
  font-size: 16px;
}

.request__field .request__input::placeholder {
  color: #A3A6A9;
}

